.App {
  text-align: center;
}

/* Partir pour les Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(131, 158, 158);
}
.nav_Link {
  display: flex;
  align-items: center;
  margin-left: 12em;
  list-style: none;
  text-decoration: none;
}

.nav_text {
  display: flex;
  width: 20em;
  margin-left: 2em;
  text-decoration: none;
  font-size: 19px;
}

.nav_logo {
  width: 100px;
}

.nav_sign {
  display: flex;
  margin-left: 1em;
  font-weight: bold;
  font-size: 17px;
  width: 12em;
}

/* partir pour les Views */

.Views_li {
  display: flex;
  justify-content: center;
}
.Views_h3 {
  background-color: rgb(75, 201, 201);
  width: 12em;
  line-height: 15px;
  height: 15em;
  padding: 1em;
  border-radius: 10px;
}
.Views_ul {
  padding: 0;
}
/* partir des input */

.input {
  background-color: rgb(221, 167, 86);
  width: 27em;
  height: 10em;
  padding: 3em;
  margin: 10em;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  border: 1px solid white;
  background-color: black;
  text-decoration: none;
  padding: 9px;
  border-radius: 5px;
  color: white;
}
.name {
  width: 100%;
}
